body{
    background-color: dodgerblue;
    color:black;
}

header {
   margin: 75px;
   background-color: chartreuse;
   text-size-adjust: 95px;
   justify-content: center;
}
 section {
    background-color: fuchsia;
    margin: 65px;
    display: flex;
 }