body{
    background-color: dodgerblue;
    color:black;
}

header {
   margin: 90px;
   background-color: chartreuse;
   text-size-adjust: 120px;
   justify-content: center;
   border: solid 5px rgb #17e9db padding 35px;

}

 section {
    background-color: fuchsia;
    margin: 65px;
    display: flex;
 }

